In [1]:
import numpy as np
import pandas as pd

In [2]:
skills_df = pd.read_excel('C:\\Users\\athar\\Big-Data-Project\\project_data\\2023-33\\skills.xlsx', sheet_name = 2, header = 1)

In [3]:
skills_df.head()

,2023 National Employment Matrix title,2023 National Employment Matrix code,"Employment, 2023","Employment, 2033","Employment change, numeric, 2023–33","Employment change, percent, 2023–33","Median annual wage, dollars, 2023[1]",Typical education needed for entry,Adaptability,Computers and information technology,...,Interpersonal,Leadership,Mathematics,Mechanical,Physical strength and stamina,Problem solving and decision making,Project management,Science,Speaking and listening,Writing and reading
0,"Total, all occupations",00-0000,167849.8,174589.0,6739.2,4.0,48060,—,3.8,3.0,...,3.5,3.2,2.6,1.9,2.2,3.5,2.7,1.7,3.2,3.3
1,Chief executives,11-1011,313.9,331.1,17.2,5.5,206680,Bachelor's degree,4.2,3.7,...,4.0,4.5,3.3,1.5,1.3,4.6,4.1,1.8,4.0,4.2
2,General and operations managers,11-1021,3630.1,3840.5,210.4,5.8,101280,Bachelor's degree,4.1,3.5,...,3.7,4.0,3.0,1.7,1.7,4.1,3.6,1.7,3.5,3.8
3,Legislators[2],11-1031,33.7,35.0,1.4,4.1,47290,Bachelor's degree,4.2,3.7,...,4.0,4.5,3.3,1.5,1.3,4.6,4.1,1.8,4.0,4.2
4,Advertising and promotions managers,11-2011,22.2,21.7,-0.6,-2.6,131870,Bachelor's degree,4.0,3.6,...,3.5,3.2,3.0,1.3,1.3,3.8,3.1,1.4,3.9,3.7

In [4]:
skills_df = skills_df.rename(columns = {"2023 National Employment Matrix title" : "Occupation","Typical education needed for entry" : "Education","Median annual wage, dollars, 2023[1]" : "Salary"})

In [5]:
skills_df = skills_df.drop(columns = ['2023 National Employment Matrix code','Employment, 2023','Employment, 2033','Employment change, numeric, 2023–33','Employment change, percent, 2023–33'])

In [6]:
skills_df.head()

,Occupation,Salary,Education,Adaptability,Computers and information technology,Creativity and innovation,Critical and analytical thinking,Customer service,Detail oriented,Fine motor,Interpersonal,Leadership,Mathematics,Mechanical,Physical strength and stamina,Problem solving and decision making,Project management,Science,Speaking and listening,Writing and reading
0,"Total, all occupations",48060,—,3.8,3.0,2.7,3.1,3.3,3.6,2.5,3.5,3.2,2.6,1.9,2.2,3.5,2.7,1.7,3.2,3.3
1,Chief executives,206680,Bachelor's degree,4.2,3.7,3.5,4.1,3.9,3.7,1.7,4.0,4.5,3.3,1.5,1.3,4.6,4.1,1.8,4.0,4.2
2,General and operations managers,101280,Bachelor's degree,4.1,3.5,3.1,3.6,3.6,3.6,1.7,3.7,4.0,3.0,1.7,1.7,4.1,3.6,1.7,3.5,3.8
3,Legislators[2],47290,Bachelor's degree,4.2,3.7,3.5,4.1,3.9,3.7,1.7,4.0,4.5,3.3,1.5,1.3,4.6,4.1,1.8,4.0,4.2
4,Advertising and promotions managers,131870,Bachelor's degree,4.0,3.6,3.5,3.5,3.5,3.5,1.6,3.5,3.2,3.0,1.3,1.3,3.8,3.1,1.4,3.9,3.7

In [7]:
skills_df['Education'].unique()

array(['—', "Bachelor's degree", 'High school diploma or equivalent',
       "Master's degree", "Associate's degree",
       'Postsecondary nondegree award',
       'No formal educational credential', 'Some college, no degree',
       'Doctoral or professional degree', nan], dtype=object)

In [8]:
skills_df['Education'] = skills_df['Education'].fillna('0')

In [9]:
skills_df['Education'] = skills_df['Education'].map({'-' : 0, 'No formal educational credential' : 0,'High school diploma or equivalent' : 1, 'Some college, no degree' : 1, 'Postsecondary nondegree award' : 1,'Associate\'s degree' : 2, 'Bachelor\'s degree' : 3, 'Master\'s degree' : 4, 'Doctoral or professional degree' : 5})

In [10]:
skills_df.head()

,Occupation,Salary,Education,Adaptability,Computers and information technology,Creativity and innovation,Critical and analytical thinking,Customer service,Detail oriented,Fine motor,Interpersonal,Leadership,Mathematics,Mechanical,Physical strength and stamina,Problem solving and decision making,Project management,Science,Speaking and listening,Writing and reading
0,"Total, all occupations",48060,NaN,3.8,3.0,2.7,3.1,3.3,3.6,2.5,3.5,3.2,2.6,1.9,2.2,3.5,2.7,1.7,3.2,3.3
1,Chief executives,206680,3.0,4.2,3.7,3.5,4.1,3.9,3.7,1.7,4.0,4.5,3.3,1.5,1.3,4.6,4.1,1.8,4.0,4.2
2,General and operations managers,101280,3.0,4.1,3.5,3.1,3.6,3.6,3.6,1.7,3.7,4.0,3.0,1.7,1.7,4.1,3.6,1.7,3.5,3.8
3,Legislators[2],47290,3.0,4.2,3.7,3.5,4.1,3.9,3.7,1.7,4.0,4.5,3.3,1.5,1.3,4.6,4.1,1.8,4.0,4.2
4,Advertising and promotions managers,131870,3.0,4.0,3.6,3.5,3.5,3.5,3.5,1.6,3.5,3.2,3.0,1.3,1.3,3.8,3.1,1.4,3.9,3.7

In [11]:
skills_df = skills_df.dropna()

In [12]:
skills_df.head()

,Occupation,Salary,Education,Adaptability,Computers and information technology,Creativity and innovation,Critical and analytical thinking,Customer service,Detail oriented,Fine motor,Interpersonal,Leadership,Mathematics,Mechanical,Physical strength and stamina,Problem solving and decision making,Project management,Science,Speaking and listening,Writing and reading
1,Chief executives,206680,3.0,4.2,3.7,3.5,4.1,3.9,3.7,1.7,4.0,4.5,3.3,1.5,1.3,4.6,4.1,1.8,4.0,4.2
2,General and operations managers,101280,3.0,4.1,3.5,3.1,3.6,3.6,3.6,1.7,3.7,4.0,3.0,1.7,1.7,4.1,3.6,1.7,3.5,3.8
3,Legislators[2],47290,3.0,4.2,3.7,3.5,4.1,3.9,3.7,1.7,4.0,4.5,3.3,1.5,1.3,4.6,4.1,1.8,4.0,4.2
4,Advertising and promotions managers,131870,3.0,4.0,3.6,3.5,3.5,3.5,3.5,1.6,3.5,3.2,3.0,1.3,1.3,3.8,3.1,1.4,3.9,3.7
5,Marketing managers,157620,3.0,4.0,3.6,3.4,3.7,3.5,3.4,1.7,3.5,3.8,3.1,1.1,1.3,4.0,3.3,1.3,3.8,3.7

In [13]:
skills_df.columns

Index(['Occupation', 'Salary', 'Education', 'Adaptability',
       'Computers and information technology', 'Creativity and innovation',
       'Critical and analytical thinking', 'Customer service',
       'Detail oriented', 'Fine motor', 'Interpersonal', 'Leadership',
       'Mathematics', 'Mechanical', 'Physical strength and stamina',
       'Problem solving and decision making', 'Project management', 'Science',
       'Speaking and listening', 'Writing and reading'],
      dtype='object')

In [14]:
skill_names = ['Salary', 'Education', 'Adaptability',
       'Computers and information technology', 'Creativity and innovation',
       'Critical and analytical thinking', 'Customer service',
       'Detail oriented', 'Fine motor', 'Interpersonal', 'Leadership',
       'Mathematics', 'Mechanical', 'Physical strength and stamina',
       'Problem solving and decision making', 'Project management', 'Science',
       'Speaking and listening', 'Writing and reading']

In [15]:
skills_data = skills_df.drop(['Occupation','Salary'],axis=1)

In [16]:
skills_data.head()

,Education,Adaptability,Computers and information technology,Creativity and innovation,Critical and analytical thinking,Customer service,Detail oriented,Fine motor,Interpersonal,Leadership,Mathematics,Mechanical,Physical strength and stamina,Problem solving and decision making,Project management,Science,Speaking and listening,Writing and reading
1,3.0,4.2,3.7,3.5,4.1,3.9,3.7,1.7,4.0,4.5,3.3,1.5,1.3,4.6,4.1,1.8,4.0,4.2
2,3.0,4.1,3.5,3.1,3.6,3.6,3.6,1.7,3.7,4.0,3.0,1.7,1.7,4.1,3.6,1.7,3.5,3.8
3,3.0,4.2,3.7,3.5,4.1,3.9,3.7,1.7,4.0,4.5,3.3,1.5,1.3,4.6,4.1,1.8,4.0,4.2
4,3.0,4.0,3.6,3.5,3.5,3.5,3.5,1.6,3.5,3.2,3.0,1.3,1.3,3.8,3.1,1.4,3.9,3.7
5,3.0,4.0,3.6,3.4,3.7,3.5,3.4,1.7,3.5,3.8,3.1,1.1,1.3,4.0,3.3,1.3,3.8,3.7

In [17]:
from sklearn.metrics.pairwise import cosine_similarity
import random

user_skills = []

for i in range(0,18):
    user_skills.append(random.uniform(1,5))
    

cosine_similarities = cosine_similarity([user_skills], skills_data.astype(float))


skills_df['Similarity'] = cosine_similarities[0]
recommended_occupations = skills_df[['Occupation', 'Similarity']].sort_values(by='Similarity', ascending=False)
recommended_occupations.head()

                                            Occupation  Similarity
257                Museum technicians and conservators    0.933903
405                              Fish and game wardens    0.926754
765                      Medical appliance technicians    0.924555
716    Plating machine setters, operators, and tend...    0.923651
442    Pesticide handlers, sprayers, and applicator...    0.923639